/*===================
 fonts
 ------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*====================
 base style
--------------------- */
html, body {
    overflow-x: hidden;
}
body {
    font-family: 'Poppins', sans-serif;
}
.boxed-btn {
    background-color: #E76F51;
}
.boxed-btn:hover {
    background-color: #e05d3c;
}
/*====================
 header
--------------------- */
.header-bg {
    background-color: #264653;
}
.custom-h1 {
    font-weight: 500;
}
header .navbar-dark .navbar-nav .nav-link:hover {
    color: #f17657;
}
/*====================
 feature
--------------------- */
.border-text {
    position: relative;
}
.border-text::after {
    position: absolute;
    bottom: -5px;
    left: 50%;
    height: 2px;
    width: 40%;
    margin-left: -20%;
    content: "";
    background-color: #E76F51;
}
.img-grayscale {
    filter: grayscale(100%);
}
/*====================
 Latest news
--------------------- */
.outline-btn {
    border: 1px solid #E76F51;
    color: #E76F51;
    font-weight: 500;
}
.outline-btn:hover {
    background-color: #e05d3c;
    color: white;
}
/*====================
 happy clients
--------------------- */
.orange-text {
    color: #E76F51;
}
.icon .far {
    color: #E76F51;
}
/*====================
 faq
--------------------- */
.accordion-custom-height {
    min-height: 500px;
}
/*====================
 News
--------------------- */
.news-content a {
    text-decoration: none;
    color: rgb(68, 68, 68);
}
.news-content a:hover {
    color: rgb(0, 0, 0);
}
/*====================
 contact us
 --------------------- */
 .contact-bg {
    background-image: url(images/contact-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
.submit-btn {
    border-color: #E76F51;
    color: #E76F51;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: 500;
}
.submit-btn:hover {
    background-color: #E76F51;
    color: whitesmoke;
}
input, textarea {
    outline: none;
}
/*====================
 footer
 --------------------- */
footer ul {
    list-style: none;
}
footer ul li {
    display: inline-block;
    padding-right: 10px;
}
footer ul li a {
    text-decoration: none;
    color: rgb(211, 211, 211);
}
footer ul li a:hover {
    color: #f17657;
}